// This stylesheet is a fork created to change selectors for an AB test without impacting other pages.

@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  background: linear-gradient(to bottom, #3f3177 0%,#1c1635 1000px);
  color: $color-white;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p,
ul,
i {
  color: $just-commit-text;
}

.sub-wrapper.main-content {
  padding-top: 20px;
}

.blank-header {
  background: url("/images/grid2.svg") repeat 0 0 / 40px;
}

.blank-header h1 {
  color: #ffffff;
  text-align: left;
}

.challenge-icon {
  color: #ffffff;
  float: left;
  margin-right: 20px;
}

.challenge-icon svg {
  height: 100px;
}

.just-commit .u-text-brand {
  color: $color-light-purple;
}

/*
.valueboxes {
  display: flex;
  flex-wrap: wrap;
}
.valuebox {
  background: rgba(255,255,255,.10);
  border-radius: 6px;
  flex: 0 0 auto;
  font-size: 16px;
  margin: 0 10px 10px 0;
  padding: .7em;
  width: 100%;
}
*/

.valueboxes h3 {
  color: $color-light-purple;
  width: 100%;
}

.valueboxes {
  margin-bottom: 40px;
}

.valueboxes ul {
  padding-left: 20px;
}

.valuebox {
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 46px;
}

.valuebox svg {
  height: auto;
  left: 0;
  opacity: .5;
  position: absolute;
  top: -2px;
  width: 28px;
}


/* contact-sales overrides */

.content-divider {
  text-align: center;
}

.contact-sales-container a:not(.btn) {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

.contact-sales-container a:not(.btn):active,
.contact-sales-container a:not(.btn):focus,
.contact-sales-container a:not(.btn):hover {
  color: #ffffff;
}

.contact-sales-container .cta-btn.orange {
  color: $color-white;
  background-color: $just-commit-medium;
  border-color: $just-commit-medium;
  transition: all .2s;

  &:hover {
    color: $color-white;
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;
  }
}

/* customer-logos overrides */

.customer-logos-container {
  padding: 60px 20px 0px 20px;
}

.customer-logos-container p {
  color: #ffffff;
  opacity: .7;
}

.customer-logos-container .logos-container svg {
  color: #ffffff;
  opacity: .4;
}

.customer-logos-container .logos-container a:hover svg {
  color: #ffffff;
  fill: inherit;
}

.confirmform {
  background: rgba(255,255,255,.1);
  border-radius: 6px;
  padding: 1px 20px 10px 20px;
}

/* FORM STYLE OVERRIDES */

.form-container h3,
.form-container h4 {
  color: #ffffff;
}

.form-container a:active,
.form-container a:focus,
.form-container a:hover,
.form-container a {
  color: rgba(255,255,255,.7);
  text-decoration: underline;
}

.form-container h3 {
  font-size: 24px;
  font-weight: 600;
}

.form-container .destination-url {
  text-decoration: underline;
}

//sass-lint:disable-all

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox] {
  background: $color-primary-dark;
  border-color: transparent;
}

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox]:checked {
  background: $link-color;
}

